#header-container {
  flex-direction: column;
  background-color: lightblue;
  padding: 10px;
  display: flex;
  align-items: center;
}

#header-container h1 {
  font-size: 50px;
  color: black;
}

#header-container h3 {
  color: black;
}

#header-img {
  margin-top: 25px;
  text-align: center;
}

.navbar {
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  top: 0;
  position: fixed;
}

.navbar ul {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  background-color: lightblue;
}

.navbar ul li {
  margin-top: 7.5px;
  margin-bottom: 2.5px;
  margin-left: 10px;
  margin-right: 100px;
  float: none;
  display: block;
  text-decoration: none;
  color: white;
}

.logo img {
  margin-top: -12.5px;
  width: 40px;
  height: auto;
  padding: 0px;
}

#mission {
  padding-top: 30px;
}


.white-openings-and-title {
  background-color: #c7c7c7;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  padding-bottom: 60px;
  border: 3px solid black;
}

.white-openings-and-title h2,
.white-openings-and-title h3 {
  color: black;
}

.black-openings-and-title h2,
.black-openings-and-title h3 {
  color: black;
}

.black-openings-and-title {
  background-color: #7d7d7d;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding: 30px;
  border: 3px solid black;
}

.scroll-link {
  text-decoration: none;
}

.scroll-link button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.scroll-link button:hover {
  border-color: black;
}

#white-openings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#black-openings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.black-items {
  margin: 30px;

}

.opening-image {
  border: 2px solid black;
  height: 299px;
  display: inline-block;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: green;
  text-decoration: none;
}


.mission {
  color: red;
}

/* Add style to button */
#theme-button {
  font-size: 16px;
  cursor: pointer;
  margin-top: -200px;
  border: none;
  padding: 5px;
  color: white;
  background-color: black;
}

#theme-button.theme-button-dark {
  color: black;
  background-color: white;
}

/* .input.text-box-dark {
  background-color: black;
  color: white;
} */

/* Customize Dark Mode Theme */
.dark-mode {
  background-color: black;
  color: white;
}

.feedback-form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}

.feedback-form-para {
  width: 55%;
  padding-right: 10px;
}

.signatures {
  width: 45%;
  padding-right: 10px;
}

#submit-button {
  cursor: pointer;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}